[submodule "libopeninv"]
        path = libopeninv
        url = https://www.github.com/jsphuebner/libopeninv.git
[submodule "libopencm3"]
        path = libopencm3
        url = https://www.github.com/jsphuebner/libopencm3.git

