# Test results on different chargers
Please add your test result above past test results of your tested charger model (if there are already tests on it). If your charger model is not already listed here, please add it as a new section below the other models and add your data.
Thank you for contributing to the list!

(proposed) Formatting Style:


## Manufacturer Modelname

Test Site: e.g. Going Electric Link (not needed but nice if provided)
optional: Date

Test results on Software-Version:   e.g. v.0.22.B (optional: Date)
Test results on Board Revision:     e.g. Focci V3

Findings:

e.g.:
- worked perfect
- problems with xyz (exact description of the problem is appreciated)
- failed at xyz (exact failure circumstances and description aswell as suspected failure source is appreciated)






